@import url(fonts.css);

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Rubik-Regular';
}
a {
text-decoration: none;

}
body {
background: url('../img/bg.jpg')no-repeat center/cover fixed;
}

ul{
list-style: none;
}
.container{
width: 1100px;
margin: 0 auto;
padding: 0 15px;
background: rgb(255, 255, 255);

}
.nav{
padding-top: 15px;
padding-bottom: 15px;
background: rgb(255, 255, 255);
}

.im{

width: 60px;
height: 50px;
}
.header__list{
display: flex;
justify-content: center;
align-items: center;
gap: 100px;

}
.header__li{
font-size: 25px;
font-weight: 400;
color: #252525;

}

.context__intro{
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}
.h1{  
padding-top: 30px;
padding-bottom: 35px;
color: #252525; 
font-size: 35px;
}

.Lap{
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
width: 720px;
height: 509px;
display: flex;
text-align: center;
justify-content: center;
}

.Plansh{
display: none;

}

.Smartphone{
display: none;
}




.screen{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}




.midle__content{
display: flex;
flex-direction: column;

}

.pros{
width: 100%;

}


.arheologi__intro-1{
display: flex;
flex-direction: column;
gap: 30px;
margin-left: 100px;
margin-right: 100px;
padding-bottom: 100px;
padding-top: 100px;

}
.arheologi__item{
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;
}
.arrow{
width: 50px;
height: 50px;

}

    
.text2{
font-size: 20px;
font-weight: 400;
padding: 20px; 
}
    
.arxs{
position: absolute;
left: -455px;
top: 100px;
    
    
}
.arx{
width: 450px;
height: 570px;
}
.container__persons{
width: 1100px;
margin: 0 auto;
padding: 0 15px;
background: #252525; 
padding-bottom: 150px;

}


.Herodotus{
padding: 15px 15px 15px 15px;

width: 250px;
height: 200px;
}
.Herodotus__text{
font-size: 20px;
padding: 15px 15px 15px 15px;

}


.pros-buls{
width: 400px;
height: 300px;    
}   

.neander{
width: 600px;
height: 500px;
}
.text1{
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 50px;
color: white;
max-width: 600px;
background-color: #252525;
}
    

.slideshow {
width: 100%;
height: 500px;
position: relative;
overflow: hidden;
background: #111;
}
.slideshow-item {
width: 100%;
height: 100%;
position: absolute;
opacity: 0;
animation: slideanim 40s infinite;
pointer-events: none;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
animation-delay: 30s;
}
.slideshow-item img {
width: 100%;
height: 100%;
object-fit: cover;
animation: zoom 40s infinite;
}
    
@keyframes slideanim {
    12.5%{
        opacity: 1;
        pointer-events: auto;
    }
    25%{
        opacity: 1;
        pointer-events: auto;
    }    
    37.5%{
    opacity: 0;
    }
    }
@keyframes zoom {
    50%{
         transform: scale(1.3);
    }    
    }
@media screen and (max-width: 1100px){
.slideshow-item-text{
    max-width: 75%;
    }
    }
@media screen and (max-width: 456px){
.slideshow-item-text {
    bottom: 0;
    left: 0;
    max-width: 100%;
}
.slideshow-item-text h5 {
    font-size: 18px;
}
.slideshow-item-text p {
     font-size: 13px;
}
}

.agallery{
font-size: 24px;
text-align: center;
color: black;
margin-bottom: 30px;
} 
.Photo-gallery{
font-size: 24px;
text-align: center;
color: black;
margin-bottom: 30px;

} 


.arheologi__intro{
display: flex;
flex-direction: column;
gap: 30px;
margin-left: 100px;
margin-right: 100px;
padding-bottom: 150px;
padding-top: 50px;
    
}
.arheologi__item{
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;
}




.arrow{
width: 50px;
height: 50px;
    
}
    
.info{
display: flex;
font-size: 18px;
text-align: center;
border: 3px solid #252525;
padding-left:10px;
padding-right: 10px;
padding-top:10px ;
padding-bottom: 10px;
background: rgb(249, 227, 187);
}
.arheo{
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid #252525;
padding-left:17px;
padding-right: 17px;
padding-top:17px ;
padding-bottom: 17px;
background: rgb(249, 227, 187);
}
    
    
.arheo2{

font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid #252525;
padding-left:30px;
padding-right: 30px;
padding-top:30px ;
padding-bottom: 30px;
background: rgb(249, 227, 187);
}
.arheo1{

font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid #252525;
padding-left:17px;
padding-right: 17px;
padding-top:17px ;
padding-bottom: 17px;
background: rgb(249, 227, 187);
}

.footer{
background: white;
padding-top: 30px;
padding-bottom: 30px;

}
.footer__list{
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
        
}
.footer__li{
font-size: 20px;
font-weight: 700;
color: #252525;       
}


.wrapper
{

width: 100%;
height: 100%;
display: table;
width: 100%;
height: 100%;	
}


.quiz-frame
{
border: 0;
box-shadow: 0 0 10px #252525;
}

.quiz__head
{
font-size: 20pt;
margin-bottom: 50px;
}


.intro{
font-size: 30px;
color: #252525;
text-align: center;
padding-top: 100px;

}

.head__content 
{
padding: 5px;
margin-top: 50px;
text-align: center;	
}

.quiz__footer 
{
padding-top: 50px;
padding-bottom: 50px;

bottom: 0;
display: block;
width: 100%;
}

.footer__content 
{
text-align: center;
padding: 5px;
}

.button
{
border: 0;
background: #252525;
color: #ffffff;
padding: 10px 25px;
width: 40%;
font-size: 18pt;
display: block;
margin: 5px auto;
cursor: pointer;
}


.button_wrong 
{
	background: #EB6465;
}

.button_correct
{
	background: #5EB97D;
}

.button_passive
{
	background: #252525;
}
.cat{
width: 350px;
height: 350px;

}
.confident{
font-size: 20px;
color: #252525;
}

.videos__content{
display: flex;
justify-content: space-between;
gap: 30px;

}
.videos{
width: 100%;
}
.videoles__title{
padding: 20px 20px 20px 20px;
text-align: center;
}






.stcard-container {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
}
.stcard {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 6px;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    flex: 1 0 300px;
    max-width: 400px;
    align-self: center;
}
.stcard img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    filter: sepia(100%);
    transition: filter 0.5s;
    margin-bottom: 10px;
}
.stcard:hover img {
    filter: sepia(0)
}
.stcard .stcard-title {
    margin: 6px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 1.1;
    color: #a18342;
    text-align: center;
}
.stcard p {
    font-size: 15px;
    text-align: center;
    margin: 0 0 10px 0;
    line-height: 1.3;
}